@page "/category/{Id:int}" 
@using Korea.Shared.Models;
@using Korea.Shared.Pages;
@using System.Linq;

@inherits Page
@inject HttpClient Http

<div class="row">
	@foreach (var good in goods)
	{
		<div class="col-sm-12 col-md-6 col-lg-3 p-1">
			<div class="card shadow-sm">
				<img src="@good.Image" class="card-img-top" alt="@good.Title">
				<div class="card-body">
					<h5 class="card-title">@good.Title</h5>
					<p class="card-text">@good.Description</p>
					<h2><span class="badge badge-secondary">@good.Price</span></h2>
					<a href="@GetUrl(good.Id)" class="btn btn-outline-info">Go to @good.Id</a>
				</div>
			</div>
		</div>
	}
</div>

@code 
{	
	[Parameter]
    public int Id { get; set; }
	
	protected override void Breadcrumbs()
	{
		BasePage.AddBreadcrump(new List<Breadcrumb> 
		{ 
			new Breadcrumb { Name = "Categories", Route = "/" },
			new Breadcrumb { Name = Crumb(), Active = true }
		});
	}
	
	protected List<Good> goods = new List<Good>();
	protected override async Task OnInitializedAsync()
	{
		var res = await Http.GetJsonAsync<List<Good>>("sample-data/goods.json");
		goods = res.Where(i => i.CategoryId == Id).ToList();		
	}

	protected string Crumb() 
	{
		switch(Id) 
		{
			case 1: return "Shampoon";
			case 2: return "Masks";
			case 3: return "Test";
			case 4: return "Test2";
			case 5: return "Test3";			
		}

		return null;
	}

	protected string GetUrl(int id) 
	{
		return $"good/{Id}/{id}";
	}

}